## Lab Demo COMP7035 Week 2

All of this lab should be submitted after this course

Ensure that you have finished Exercise-1, 2, 3, 4,

# Exercise-1: For Loop

Write a Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).

In [ ]:
## Please write your code here

# Exercise-2: Lists

**Please converse the variable to list**

In [ ]:
email = "renjiewan@hkbu.edu.hk"
## Please write your code here

**Please iterate over following lists:**

In [ ]:
AnimalList = ['Cat','Dog','Tiger','Cow']
## Please write your code here

**For loopï¼š** Find the multiples of 5 in a list

In [ ]:
numbers = [2,5,6,10,15,20,25]
## Please write your code here

**For loop:** Find the sum of all numbers in a list

In [ ]:
numbers = [12,3,56,67,89,90]
sum = 0
## Please write your code here

***All of Exercise-2***

# Exercise-3: List Access

**Question 1:** Plese create a sublist by extracting elements from "banana" to "melon"

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
## Please write your code here

**Q2**: Create a list called `fruits` with the following elements: 'apple', 'banana', 'orange', 'grape'.
Print the first element of the list.

In [ ]:
## Please write your code here

**Q3:** Create a list called `numbers` with the following elements: 10, 20, 30, 40, 50.
Print the last element of the list.

In [ ]:
## Please write your code here

**Q4:**Create a list called `animals` with the following elements: 'cat', 'dog', 'elephant', 'giraffe', 'lion'.
Print the second element of the list.

In [ ]:
## Please write your code here

**Q5:**Create a list called `colors` with the following elements: 'red', 'green', 'blue', 'yellow'.
Print the third element of the list.

In [ ]:
## Please write your code here

**Q6:**Create a list called `grades` with the following elements: 90, 85, 95, 80, 75.
Print the second to last element of the list.

In [ ]:
## Please write your code here

***All of Exercise-3***

# Exercise-4

**Question 1:** You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item:
* Use list method index(20) to get the index number of a 20
* Next, update the item present at the location using the index number

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]
## Please write your code here

## Exercise-5
### You can use any Python style or techniques to complete the exercise!

**While Loop:**
Please finish the following steps:

* Set counter = 0
* Run **while** loop till number != 0
* In each iteration of loop
* Reduce the last digit from the number using floor division ( number = number // 10)
*Increment counter by 1
* print counter

In [ ]:
num = 75869
## Please write your code here

**Q1:** Write a Python program to search a list for the first int object which is divisible by 13.  
You may test your program with the list [12, "COMP", 999.9, "2022", 26, "Great"]  
*Hint [`isinstance()`](https://www.w3schools.com/python/ref_func_isinstance.asp)*

In [ ]:
## Please write your code here

**Q2:**Write a Python program to convert the 24 hour clock to a 12 hour clock format.  
For example, to get an user input 1532, then output

In [ ]:
## Please write your code here

**Q3:**Write a Python program to sum all the items in a list.

In [ ]:
numbers = [1, 2, 3, 4, 5]
## Please write your code here

**Q4:**Write a Python program to get the largest number from a list.

In [ ]:
numbers = [10, 5, 20, 15, 30]
## Please write your code here

**Q5:**Write a Python program to remove duplicates from a list.

In [ ]:
numbers = [1, 2, 3, 4, 4, 5, 6, 6, 7, 8, 9, 9]
## Please write your code here

**Q6:**Write a Python program to append a list to the second list.

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
## Please write your code here