## Lab Demo COMP7035 Week 3

#### Exercise-1

Q1: Write a Python function to sum all the numbers in a list.

In [ ]:
#def sum(numbers):

20

Q2: Write a Python function to multiply all the numbers in a list.

In [ ]:
#def multiply(numbers):

-336

Q3: Write a Python function that takes a list and returns a new list with distinct elements from the first list.

Sample List : [1,2,3,3,3,3,4,5]

Unique List : [1, 2, 3, 4, 5]

In [ ]:
#def unique_list(l):

Q4: Write a Python program to print the even numbers from a given list.

Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]

Expected Result : [2, 4, 6, 8]

In [ ]:
#def is_even_num(l):

Q5: Write a Python function to check whether a string is a pangram or not.
If it is pangram, return true, otherwise return false

**Note**: Pangrams are words or sentences containing every letter of the alphabet at least once.

For example : "The quick brown fox jumps over the lazy dog"

In [ ]:
#def ispangram(str1, alphabet=26):

{'c', 'x', ' ', 'i', 'b', 'q', 'h', 'g', 'm', 'l', 'd', 'v', 'z', 'j', 'k', 'a', 'n', 't', 'p', 'r', 'o', 'f', 's', 'u', 'y', 'w', 'e'}
True

Q6: Write a Python function to find the maximum of three numbers.

In [ ]:
#def maximum(a, b, c):

5

 Q7. Calculate the sum of diagonal elements in a 3x3 matrix using a Python function

In [ ]:
#def sum_of_diagonal(matrix):

15

Q8: Judge whether a number is an armstrong number.

What is armstrong numbers

153&nbsp;=&nbsp;1<sup>3</sup>&nbsp;+&nbsp;5<sup>3</sup>&nbsp;+&nbsp;3<sup>3</sup>

370&nbsp;=&nbsp;3<sup>3</sup>&nbsp;+&nbsp;7<sup>3</sup>&nbsp;+&nbsp;0<sup>3</sup>

371&nbsp;=&nbsp;3<sup>3</sup>&nbsp;+&nbsp;7<sup>3</sup>&nbsp;+&nbsp;1<sup>3</sup>

407&nbsp;=&nbsp;4<sup>3</sup>&nbsp;+&nbsp;0<sup>3</sup>&nbsp;+&nbsp;7<sup>3</sup>

In [ ]:
#def is_armstrong(num):

This is armstrong number

Q9: Determine the subject with the highest score for a student.

The three subjects and their corresponding scores are as follows:

History: 90

Math: 97

English: 98

In [ ]:
#def get_max_socre(score_dic):

English 98

Q10: Write a function `f(n)` that takes an input value `n` and calculates its factorial. Then, call this function to calculate the sum of factorials from 1! to 10! and output the result to the screen.

In [ ]:
#def factorial(n):

The sum of factorials from 1! to 10! = 4037913

Q11. Please design a function returns the absolute value of the entered number.

In [ ]:
#def absolute_value(num):

#### Exercies2: Python Lambda

Q1: Add 10 to argument a, and return the result:

15

Q2: Create a lambda function that takes a string as input and returns its length:

13

Q3: Create a lambda function that takes two numbers as input and returns their sum:

8

Q4: Create a lambda function that takes a number as input and returns True if it is divisible by 3, and False otherwise:

True
False

Q5: Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument, also create a lambda function that multiplies argument x with argument y and prints the result.

25
48

Q6: Please design a function to implement a rolling dice function.
We need to roll the dice for 10 times until the summation of each dice number reaches 10.

In [2]:
import random
#def RollingDice(piece):

DiceNumber: 1 PieceNumber: 1

DiceNumber: 1 PieceNumber: 2

DiceNumber: 6 PieceNumber: 8

DiceNumber: 5 PieceNumber: 13