**Exercise-1:** Create a Pandas Series from the given list and print the Series

`list = [1, 3, 5, np.nan, 6, 8]`

In [ ]:
import pandas as pd
import numpy as np

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

**Exercise-2:** Create a Pandas Series from the given dictionary and print the Series

`dict = {'a': [1., 2], 'b': [{'a', 'b'}, 'c'], 'c': 3}`

In [ ]:
import pandas as pd

a       [1.0, 2]
b    [{a, b}, c]
c              3
dtype: object

**Exercise-3:** Print the Series as the order of index ['c', 'b', 'a']

In [ ]:
import pandas as pd

#dict
dict = {'a': [1., 2], 'b': [{'a', 'b'}, 'c'], 'c': 3}

c              3
b    [{a, b}, c]
a       [1.0, 2]
dtype: object

**Exercise-4:** Create a Series from the given dictionary and Convert the created Series to list and dictionary

In [ ]:
import pandas as pd
import numpy as np

#given dict
d = {'a': 4, 'b': 8, 'c': 16, 'd': 32, 'e': 64}

Original dictionary:
{'a': 4, 'b': 8, 'c': 16, 'd': 32, 'e': 64}
a     4
b     8
c    16
d    32
e    64
dtype: int64
[4, 8, 16, 32, 64]
{'a': 4, 'b': 8, 'c': 16, 'd': 32, 'e': 64}

**Exercise-5:** Given a Series of five cities and their corresponding populations, please use the tag index to extract the population corresponding to Hong Kong.

In [ ]:
import pandas as pd

#given series
s = pd.Series([8000000, 15000000, 12000000, 7000000, 3000000], index=['New York', 'Tokyo', 'Shanghai', 'Hong Kong', 'Sydney'])

New York      8000000
Tokyo        15000000
Shanghai     12000000
Hong Kong     7000000
Sydney        3000000
dtype: int64
--------------------------------------------------
7000000

**Exercise-6:** Create a Series of 10 random numbers, use the position index to print out the first five elements and the last three elements.

In [ ]:
import pandas as pd
import numpy as np

0   -0.411705
1   -2.225422
2    0.244643
3   -0.886773
4   -0.092335
5    0.092842
6   -0.410836
7   -1.479876
8   -0.333133
9   -1.258354
dtype: float64
--------------------------------------------------
0   -0.411705
1   -2.225422
2    0.244643
3   -0.886773
4   -0.092335
dtype: float64
--------------------------------------------------
7   -1.479876
8   -0.333133
9   -1.258354
dtype: float64

**Exercise-7:** Create a Series of 10 random numbers, print all elements that are greater than 0.3 and calculate the proportion of elements that larger than 0.3 in the Seires

In [ ]:
import pandas as pd
import numpy as np

0    0.509216
1   -2.253147
2    0.863101
3    0.872038
4   -1.989981
5   -1.652471
6   -0.044458
7    1.446098
8    2.399246
9   -2.880797
dtype: float64
--------------------------------------------------
0    0.509216
2    0.863101
3    0.872038
7    1.446098
8    2.399246
dtype: float64
--------------------------------------------------
0.5

**Exercise-8:** Given a Series of 5 random numbers with indexes, use get() function to get the values of index 'd' and index 'f' respectively.
If there is no value of index 'f', add a value for index 'f'

In [ ]:
import pandas as pd
import numpy as np

#given series
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

a    0.991300
b   -1.557628
c   -0.502979
d   -0.651857
e    0.599605
dtype: float64
--------------------------------------------------
0.5996046787585935
None
--------------------------------------------------
a    0.991300
b   -1.557628
c   -0.502979
d   -0.651857
e    0.599605
f    0.000000
dtype: float64

**Exercise-9:** Given a Series named ser, get the following information for it:
Index object
ndarray object of Series value
The name of Series
The data type of Series
Length of Series

In [ ]:
import pandas as pd

#given Series
ser = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'], name='age', dtype='float')

Index(['a', 'b', 'c', 'd'], dtype='object')
[1. 2. 3. 4.]
age
float64
4

**Exercise-10:** Given a Series of 5 numbers with indexes, use for loop to make every value double and print every index and new value

In [ ]:
import pandas as pd
import numpy as np

#given series
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

a    0.502493
b    0.491759
c    0.961691
d    0.001116
e   -1.036023
dtype: float64
--------------------------------------------------
a 1.004985982650947
b 0.9835186148394268
c 1.9233817495429577
d 0.002231436256523857
e -2.0720451248133096

**Exercise-11:** Given a Series of 5 Cities' Annual GDP, find all the cities whose annual GDP is higher than the average annual GDP of these cities

In [ ]:
import pandas as pd
import numpy as np

#given series
city_gdp = pd.Series([1800, 1570, 960, 895, 890], index=['Tokyo', 'New York', 'Los Angelas', 'Seoul', 'Paris'])

Index(['Tokyo', 'New York'], dtype='object')

**Exercise-12:** Given a Dictionary **data**, create a dataframe using dict **data**

In [ ]:
import pandas as pd
import numpy as np

#given dict
data = {"grammer":["Python","C","Java","GO",np.nan,"SQL","PHP","Python"], "score":[1,2,np.nan,4,5,6,7,10]}

  grammer  score
0  Python    1.0
1       C    2.0
2    Java    NaN
3      GO    4.0
4     NaN    5.0
5     SQL    6.0
6     PHP    7.0
7  Python   10.0

**Exercise-13:** Given the Dictionary **data**, create a dataframe using dict **data**, and set the indexes as ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [ ]:
import pandas as pd
import numpy as np

#given dict
data = {"grammer":["Python","C","Java","GO",np.nan,"SQL","PHP","Python"], "score":[1,2,np.nan,4,5,6,7,10]}

  grammer  score
a  Python    1.0
b       C    2.0
c    Java    NaN
d      GO    4.0
e     NaN    5.0
f     SQL    6.0
g     PHP    7.0
h  Python   10.0

**Exercise-14:** Given the Dataframe created in **Exercise-13**, extract the lines containing the string **"Python"** to create a new Dataframe

In [ ]:
import pandas as pd
import numpy as np

#new dataframe
df[df['grammer'] == 'Python']

  grammer  score
a  Python    1.0
h  Python   10.0

**Exercise-15:** Given the Dataframe created in **Exercise-13**, extract all information of the dataframe, including **index**, **columns**, **shape** and **values**

In [ ]:
import pandas as pd
import numpy as np

  grammer  score
a  Python    1.0
b       C    2.0
c    Java    NaN
d      GO    4.0
e     NaN    5.0
f     SQL    6.0
g     PHP    7.0
h  Python   10.0
--------------------------------------------------
Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'], dtype='object')
--------------------------------------------------
Index(['grammer', 'score'], dtype='object')
--------------------------------------------------
(8, 2)
--------------------------------------------------
[['Python' 1.0]
 ['C' 2.0]
 ['Java' nan]
 ['GO' 4.0]
 [nan 5.0]
 ['SQL' 6.0]
 ['PHP' 7.0]
 ['Python' 10.0]]
--------------------------------------------------

**Exercise-16:** Given the Dataframe created in **Exercise-13**, select and print the **'grammer'** and **'score'** for the rows with indices **'b'**, **'f'**, and **'h'**.

In [ ]:
import pandas as pd
import numpy as np

  grammer score
b       C   2.0
f     SQL   6.0
h  Python  10.0

**Exercise-17:** Given the Dataframe created in **Exercise-13**, using **`.iloc`** to select and print the first three rows of the DataFrame.

In [ ]:
import pandas as pd
import numpy as np

  grammer  score
a  Python    1.0
b       C    2.0
c    Java    3.0

**Exercise-18:** Given the Dataframe created in **Exercise-13**, select and print all rows where the **'grammer'** is **'Python'** and the **'score'** is **greater than 5**.

In [ ]:
import pandas as pd
import numpy as np

  grammer  score
h  Python   10.0

**Exercise-19:** Given the Dataframe created in **Exercise-13**, calculate the **mean** of the **'score'** column and select and print all rows where the 'score' is **greater** than the mean.

In [ ]:
import pandas as pd
import numpy as np

  grammer  score
f     SQL    6.0
g     PHP    7.0
h  Python   10.0

**Exercise-20:** Given the Dataframe created in **Exercise-13**, calculate the **mean** of the **'score'** column and select and print all rows where the 'score' is **greater** than the mean.(Use **`.iloc`** to achieve this)

In [ ]:
import pandas as pd
import numpy as np

  grammer  score
f     SQL    6.0
g     PHP    7.0
h  Python   10.0

**Exercise-21:** Given the Dataframe **df1** and **df2**, compute the **left outer join** of df1 and df2, print the results

In [ ]:
import pandas as pd
import numpy as np

df1:
--------------------------------------------------
  grammer  score
0  Python    1.0
1       C    2.0
2    Java    NaN
3      GO    4.0
4     NaN    5.0
5     SQL    6.0
6     PHP    7.0
7  Python   10.0
--------------------------------------------------
df2:
--------------------------------------------------
  grammer  popularity
0  Python           9
1     C++           8
2       C           7
3    Java           6
4      GO           5
5     SQL           4
6     PHP           3
--------------------------------------------------
left merged:
--------------------------------------------------
  grammer  score  popularity
0  Python    1.0         9.0
1       C    2.0         7.0
2    Java    NaN         6.0
3      GO    4.0         5.0
4     NaN    5.0         NaN
5     SQL    6.0         4.0
6     PHP    7.0         3.0
7  Python   10.0         9.0

**Exercise-22:** Given the Dataframe **df1** and **df2**, compute the **right outer join** of df1 and df2, print the results

In [ ]:
import pandas as pd
import numpy as np

df1:
--------------------------------------------------
  grammer  score
0  Python    1.0
1       C    2.0
2    Java    NaN
3      GO    4.0
4     NaN    5.0
5     SQL    6.0
6     PHP    7.0
7  Python   10.0
--------------------------------------------------
df2:
--------------------------------------------------
  grammer  popularity
0  Python           9
1     C++           8
2       C           7
3    Java           6
4      GO           5
5     SQL           4
6     PHP           3
--------------------------------------------------
right merged:
--------------------------------------------------
  grammer  score  popularity
0  Python    1.0           9
1  Python   10.0           9
2     C++    NaN           8
3       C    2.0           7
4    Java    NaN           6
5      GO    4.0           5
6     SQL    6.0           4
7     PHP    7.0           3

**Exercise-23:** Given the Dataframe **df1** and **df2**, compute the **full outer join** of df1 and df2, print the results

In [ ]:
import pandas as pd
import numpy as np

df1:
--------------------------------------------------
  grammer  score
0  Python    1.0
1       C    2.0
2    Java    NaN
3      GO    4.0
4     NaN    5.0
5     SQL    6.0
6     PHP    7.0
7  Python   10.0
--------------------------------------------------
df2:
--------------------------------------------------
  grammer  popularity
0  Python           9
1     C++           8
2       C           7
3    Java           6
4      GO           5
5     SQL           4
6     PHP           3
--------------------------------------------------
outer merged:
--------------------------------------------------
  grammer  score  popularity
0       C    2.0         7.0
1     C++    NaN         8.0
2      GO    4.0         5.0
3    Java    NaN         6.0
4     PHP    7.0         3.0
5  Python    1.0         9.0
6  Python   10.0         9.0
7     SQL    6.0         4.0
8     NaN    5.0         NaN

**Exercise-24:** Given the Dataframe **df1** and **df2**, compute the **inner join** of df1 and df2, print the results

In [ ]:
import pandas as pd
import numpy as np

df1:
--------------------------------------------------
  grammer  score
0  Python    1.0
1       C    2.0
2    Java    NaN
3      GO    4.0
4     NaN    5.0
5     SQL    6.0
6     PHP    7.0
7  Python   10.0
--------------------------------------------------
df2:
--------------------------------------------------
  grammer  popularity
0  Python           9
1     C++           8
2       C           7
3    Java           6
4      GO           5
5     SQL           4
6     PHP           3
--------------------------------------------------
inner merged:
--------------------------------------------------
  grammer  score  popularity
0  Python    1.0           9
1       C    2.0           7
2    Java    NaN           6
3      GO    4.0           5
4     SQL    6.0           4
5     PHP    7.0           3
6  Python   10.0           9

**Exercise-25:** Given the Dataframe **employee_df**, use the **`df.apply`** method to create a new column that determines whether each employee's salary is **greater** than **the average salary**, and **count the number** of employees with a salary **above the average**.

In [ ]:
import pandas as pd
import numpy as np

#given dataframe
employee_data = {"education": ["Bachelor", "Bachelor", "Unlimited", "Bachelor", "Bachelor"],
     "salary": [27500, 30000, 27500, 16500, 15000],
     "categories": ["high", "high", "high", "medium", "medium"]
}

employee_df = pd.DataFrame(employee_data)

   education  salary categories
0   Bachelor   27500       high
1   Bachelor   30000       high
2  Unlimited   27500       high
3   Bachelor   16500     medium
4   Bachelor   15000     medium
Number of Employees with Salary Greater Than Average Salary: 3

**Exercise-26:** Given the Dataframe **salary_df**, use the **`df.applymap`** method to normalize each value of salary to a scale of 0 to 1 based on the **minimum** and **maximum** salaries in the DataFrame.(Normalize: $y = \frac{x - \text{min}}{\text{max} - \text{min}}$)

In [ ]:
import pandas as pd
import numpy as np

#given dataframe
salary_data = {"1st month": [29600, 28300, 25430, 14000, 16000],
     "2nd month": [27500, 30000, 27500, 16500, 15000]
}

salary_df = pd.DataFrame(salary_data)

   1st month  2nd month
0      29600      27500
1      28300      30000
2      25430      27500
3      14000      16500
4      16000      15000
--------------------------------------------------
   1st month  2nd month
0   0.975000    0.84375
1   0.893750    1.00000
2   0.714375    0.84375
3   0.000000    0.15625
4   0.125000    0.06250

<ipython-input-27-6bdf77db6a67>:20: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  salary_df = salary_df.applymap(lambda x: (x - min_salary) / (max_salary - min_salary))